{% extends "includes/wrapper.html" %}
{% block content %}
<div class="container">
    <hr>
    <div>
        <h1>Краткий обзор HTTP методов</h1>
        <hr>
        <p>1 HTTP метод GET</p>
        <p>Метод GET в HTTP используется для получения информации от сервера по заданному URI (URI в HTTP). Запросы клиентов, использующие метод GET должны получать только данные и не должны никак влиять на эти данные.</p>
        <hr>
        <p>2 HTTP метод HEAD</p>
        <p>HTTP метод HEAD работает точно так же, как GET, но в ответ сервер посылает только заголовки и статусную строку без тела HTTP сообщения.</p>
        <hr>
        <p>3 HTTP метод POST</p>
        <p>HTTP метод POST используется для отправки данных на сервер, например, из HTML форм, которые заполняет посетитель сайта.</p>
        <hr>
        <p>4 HTTP метод PUT</p>
        <p>HTTP метод PUT используется для загрузки содержимого запроса на указанный в этом же запросе URI.</p>
        <hr>
        <p>5 HTTP метод DELETE</p>
        <p>HTTP метод DELETE удаляет указанный в URI ресурс.</p>
        <hr>
        <p>6 HTTP метод CONNECT</p>
        <p>HTTP метод CONNECT преобразует существующее соединение в тоннель.</p>
        <hr>
        <p>7 HTTP метод OPTIONS</p>
        <p>HTTP метод OPTIONS используется для получения параметров текущего HTTP соединения.</p>
        <hr>
        <p>8 HTTP метод TRACE</p>
        <p>HTTP метод TRACE создает петлю, благодаря которой клиент может увидеть, что происходит с сообщением на всех узлах передачи.</p>
        <hr>
    </div>
    <hr>
</div>
{% endblock %}
